@use '../../assets/variables' as v;
.button{
    background: v.$darkThemeColor;
    border: 1px solid v.$lightThemeColor;
    box-sizing: border-box;
    border-radius: 6px;
    color: v.$lightThemeColor;
    &_addTheme{
        background: v.$lightThemeColor;
        border: 1px solid v.$darkThemeColor;
        color: v.$darkThemeColor;
    }
    &_filled{
        color: v.$darkThemeColor;
        background: v.$lightThemeColor;
        border:none;
    }
    &_filledTheme{
        color: v.$lightThemeColor;
        border:none;
        background: v.$darkThemeColor;
    }
}