@use '../../assets/variables' as v;
.textArea{
    position: relative;
    span{
        position: absolute;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: rgba(0, 0, 0, 0.3);
        top: -19px;
    }
    textarea{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        padding: 12px;
        text-align: justify;
        box-sizing: border-box;
        background:  v.$lightThemeColor;
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        border-radius: 6px;
        resize: none;
        &:hover{
            border: 1px solid #000000;
        }
        &:focus{
            border: 1px solid #000000;
            outline: none;
        }
    }
}