@use '../../assets/variables' as v;
.cardList {
    display: grid;
    background: v.$darkThemeColor;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap:20px;
    justify-items: center;
    @media (max-width: v.$tabletWidth) {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
    &_addLightTheme{
        background: v.$lightThemeColor;
    }
    &__card{
        width: 137px;
        height: 120px;
        box-sizing: border-box;
        @media (min-width: v.$tabletWidth) {
            width: 229px;
            height: 190px;
        }
        @media (min-width: v.$desctopWidth) {
            width: 315px;
            height: 260px;
        }
    }
}