@use '../../../assets/variables' as v;
.artist{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: v.$darkThemeColor;
    &_addLightTheme{
        background: v.$lightThemeColor;
    }
    &__footerInfo{
        width: 100%;
        height: 66px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: rgba(255, 255, 255, 0.3);
        font-variant: small-caps;

        a{
            text-decoration: underline;
            color: rgba(255, 255, 255, 0.3) !important;
        }
        &_addLightTheme{
            border-top: 1px solid rgba(0, 0, 0, 0.3);
            color: rgba(0, 0, 0, 0.3);;
            a{
                color: rgba(0, 0, 0, 0.3) !important;
            }
        }

    }
}