@use '../../assets/variables' as v;
@import '../../assets/mobile';
@import '../../assets/tablet';
.modal{
    z-index: 3;
    box-sizing: border-box;
    position: fixed;
    background: rgba(13, 13, 13, 0.8);
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @include tablet{
        align-items: center;
    }
}
.modalArtist{
    box-sizing: border-box;
    background: v.$lightThemeColor;
    width: 494px;
    height: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 59px;
    position: relative;
    @include mobile{
        width: 100%;
        height: 100%;
    }
    &__select{
        width: 376px;
        @include mobile{
            width: 290px;
        }
    }
    &__addAvatartBtn{
        border: none;
        &:hover{
            border: none
        }
    }
    &__closeBtn{
        z-index: 3;
        position: absolute;
        background: none;
        top: 20px;
        right: 20px;
        padding: 0;
        border: none !important;
        width: 12px;
        height: 12px;
        svg{
            fill: v.$darkThemeColor
        }
    }
    &__input{
        width: 376px;
        @include mobile{
            width: 290px;
            input{
                width: 290px;
            }
        }
        input{
            width: 376px;
        }
    }
    &__form{
        display: flex;
        flex-direction: column;
        gap: 39px;
        @include mobile{
            gap: 34px;
        }
    }
    &__photo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        padding-bottom: 40px;
        span{
            font-weight: 700;
            color: v.$darkThemeColor;
        }
    }
    &__btn{
        margin-top: 25px;
        width: 180px;
        height: 40px;
        border: none;
        &:hover{
            border: none !important;
        }
        @include mobile{
            width: 290px;
            margin-top: 20px;
        }
    }
    &__textArea{
        textarea{
            width: 376px;
            height: 100px;
        }
        @include mobile{
            width: 290px;
            textarea{
                width: 290px;
            } 
    }
}
}