@use '../../assets/variables' as v;
@import '../../assets/mobile';
@import '../../assets/tablet';
.card{
    // display: grid;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    // direction: column;
    align-items: center;
    border-radius: 4px;
    line-height: 20px;
    :hover > &__changeBtns{
        display: flex;
    }
    &__plug{
        padding-top: 27px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        width: 315px;
        height: 260px;
        gap: 30px !important;
        justify-content: flex-start !important;
        border: 1px solid rgba(255, 255, 255, 0.75) !important;
        &_addLightTheme{
            border: 1px solid rgba(0, 0, 0, 0.2) !important;
        }
        @include tablet{
            font-size: 14px;
            line-height: 16px;
            width: 229px;
            height: 190px;
            padding-top: 16px;
            gap: 10px !important;
        }
        @include mobile{
            padding-top: 8px;
            gap: 8px !important;
            font-size: 10px;
            line-height: 12px;
            width: 137px;
            height: 120px;
        }
        span{
            font-size: 16px;
            line-height: 19px;
            max-width: 250px;
            @include tablet{
                font-size: 14px;
                line-height: 16px;
                max-width: 161px;
            }
            @include mobile{
                font-size: 10px;
                line-height: 12px;
                max-width: 124px;
            }
        }
        svg{
            width: 110px;
            height: 110px;
            @include tablet{
                width: 70px;
                height: 70px;
            }
            @include mobile{
                width: 35px;
                height: 35px;
            }
        }
    }
    &__changeBtns{
        display: none;
        position: absolute;
        background: inherit;
        gap: 10px;
        top: 20px;
        right: 20px;
    }
    &__changeBtn{
        background: rgba(255, 255, 255, 0.1);
        width: 30px;
        height: 30px;
        border: none !important;
        &:active{
            border: 1px solid rgba(255, 255, 255, 0.1) !important;
            svg{
                fill: v.$darkThemeHoverColor!important;
                stroke: none;
            }
            &:nth-child(1){
                svg{
                    fill: #FFFF00 !important;
                }
            }
            &:nth-child(3){
                svg{
                    fill: red !important;
                }
            }
        }
        &:hover{
            svg{
                fill: v.$darkThemeHoverColor!important;
                stroke: none;
            }
            &:nth-child(1){
                svg{
                    fill: #FFFF00 !important;
                }
            }
            &:nth-child(3){
                svg{
                    fill: red !important;
                }
            }
        }
        svg{
            fill: v.$lightThemeColor;
        }
        &_addLightTheme{
            border: none;
            background: rgba(0, 0, 0, 0.1);
            svg{
                fill: v.$darkThemeColor;
            }
        }
    }
    &__paintingCreated{
        font-weight: 500;
        font-size: 14px;
        padding-top: 5px;
    }
    &__authorYear{
        padding-top: 5px;
        font-weight: 300;
        font-size: 13px;
        line-height: 15px;
    }
    &__paintingName{
        padding-top: 15px;
        font-weight: 500;
        font-size: 14px;
    }
    &__slidePanel{
        &_addLightTheme{
            background: rgba(0, 0, 0, 0.2);
        }
        &_abc{
            &:hover{
                top: 230px !important;
            }
            @include tablet{
                &:hover{
                    top: 160px!important;
                }
            }
            @include mobile{
                &:hover{
                    top: 95px !important;
                }
            }
        }
        display: flex;
        flex-direction: column;
        cursor: pointer;
        justify-content: space-between;
        font-size: 18px;
        line-height: 20px;
        width: 100%;
        height: 50%;
        box-sizing: border-box;
        position: absolute;
        top: 88%;
        padding: 5px 15px;
        background: rgba(255, 255, 255, 0.75);
        transition: 0.5s;
        &:hover{
            top: 50%;
        }
        @include tablet{
            top: 160px;
        }
        @include mobile{
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            top: 95px;
            &:hover{
                top: 95px;
            }
        }
    }
    &__img{
        width: 100%;
        height: 260px;
        @include tablet{
            height: 190px;
            &:hover{
                top: 160px!important;
            }
        }
        @include mobile{
            height: 120px;
            &:hover{
                top: 95px !important;
            }
        }
    }
}