@use '../../assets/variables' as v;
@import '../../assets/font';
.card{
    display: grid;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    direction: column;
    align-items: center;
    border-radius: 4px;
    &__slidePanel{
        @include font;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        width: 100%;
        height: 50%;
        box-sizing: border-box;
        position: absolute;
        top: 90%;
        padding-left: 15px;
        background: rgba(255, 255, 255, 0.75);
        transition: 0.5s;
        @media (min-width: v.$tabletWidth) {
            font-size: 18px;
            line-height: 20px;
            font-weight: bold;
            &:hover{
                padding: 10px 15px;
                top: 57%;
                transition: 0.5s;
            }   
        }
    }
    &__img{
        width: 100%;
        height: 100%;
    }
}