@use '../../assets/variables' as v;

.footer{
    margin: 40px 0 0 0;
    font-weight: normal;
    font-size: 16px;
    box-sizing: border-box;
    display: grid;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    grid-template-areas: 
        'footer__mainSite'
        'footer__social'
        'footer__author';
    &__social{
        grid-area: footer__social;
        width: 100%;
        gap: 20px;
        display: flex;
        justify-content: flex-start;
        padding: 20px 0 0 0;
        @media (min-width: v.$tabletWidth){
            justify-content: flex-end;
            align-items: center;
        }
    }
    &__mainSite{
        padding: 20px 0 0 0; 
        grid-area: footer__mainSite;
    }
    &__author{
        &_addLightTheme{
            color: rgba(0, 0, 0, 0.3);
        };
        padding: 20px 0 0 0; 
        color: rgba(255, 255, 255, 0.3);
        grid-area: footer__author;
    }
    background: v.$darkThemeColor;
    color: v.$lightThemeColor;
    @media (min-width: v.$tabletWidth){
        grid-template-areas: 
        'footer__mainSite footer__social'
        'footer__author footer__author'
    }
    &_addLightTheme{
        background: v.$lightThemeColor;
        color: v.$darkThemeColor;
        border-top: 2px solid rgba(0, 0, 0, 0.3);
    }
    &__svg{
        stroke: v.$lightThemeColor;
        fill: v.$lightThemeColor;
        &_addLightTheme{
            stroke: v.$darkThemeColor;
            fill: v.$darkThemeColor;
        }
    }
}