@use '../../assets/variables' as v;
@import '../../assets/mobile';
.modal{
    z-index: 1;
    position: fixed;
    background:rgba(0, 0, 0, 0.8);
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.registration{
    padding: 0 34px;
    position: relative;
    box-sizing: border-box;
    background: v.$lightThemeColor;
    width: 400px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @include mobile{
        padding: 0 15px;
        position: absolute;
        top: 91px;
        width: 100%;
        height: 100%;
        border-radius: 35px 35px 0px 0px;
    }
    &__nameModal{
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        padding-bottom: 15px;
    }
    &__input{
        width: 230px;
        svg{
            position: absolute;
            top: 12px;
            left: 10px;
            fill: rgba(0, 0, 0, 0.3);
        }
        input{
            padding-left: 29px !important;
            &:focus+svg{
                fill: v.$darkThemeColor !important;
            }
            &::placeholder{
                color:rgba(0, 0, 0, 0.3) !important;
            }
            &:not(:placeholder-shown) + svg{
                fill: v.$darkThemeColor !important;
            }
        }
    }
    &__logInBtn{
        margin: 10px 0 5px 0;
        width: 230px;
        height: 40px;
    }
    &__link{
        font-weight: 300;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        font-variant: small-caps;
        padding-top: 15px;
        border-top: 0.3px solid rgba(0, 0, 0, 0.3);
    }
    &__closeBtn{
        position: absolute;
        right: 22px;
        top: 22px;
        padding: 0;
        border: none !important;
        svg{
            fill: v.$darkThemeColor;
        }
    }
}